@import './menu.styl'
.header
    background: white
    // position relative
    position:fixed
    left 0
    right: 0
    padding: 2em 0
    &-content
        display: flex
        justify-content: space-between
        align-items: center