.menu
    display: none
    position: absolute
    left: 0
    right: 0
    top: 100%
    background: rgba(47,53,79,.9)
    height: 100vh
    ul
        padding: 0
        list-style none
    li 
        border-top: 1px solid var(--grayishBlue)
        &:last-child
            a 
                border: 2px solid white
                margin-top: 1em
                border-radius: 5px
                padding: .7em
    a 
        color: white
        text-decoration: none
        text-transform: uppercase
        display: block
        text-align: center
        padding: 1em
        letter-spacing: 2px
    
    &-checkbox
        display: none
        &:checked
            & ~ .menu-open
                border: 5px solid purple
            & ~ .header 
                background: rgba(47,53,79,.9)
                & .menu
                    border: 1px solid purple
                    display: block


    &-open
        border: 1px solid red
        user-select: none
        width: 40px
        height: 40px
        display: inline-flex
        background: url('../images/icon-hamburger.svg') no-repeat center
        cursor: pointer

// minuto 1:20