@import './header.styl'
@import './hero.styl'
:root
    --softBlue: hsl(231, 69%, 60%)
    --softRed: hsl(0, 94%, 66%)
    --grayishBlue: hsl(229, 8%, 60%)
    --veryDarkBlue: hsl(229, 31%, 21%)

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap')
    
body
    margin: 0
    padding: 0
    background: lightgray
    font-family: 'Rubik', sans-serif
    color: var(--veryDarkBlue)
    font-size: 18px

.u-wrapper
    max-width: 1280px
    margin: auto
    padding: 0 1em